    .addMovieContainer {
        display: flex;
        justify-content: space-between;
        padding: 80px;
        background-color: #ebecec;
    }

    .leftSection {
        width: 60%;
        align-items: center;
        align-content: center;
        padding: 20px;
    }

    .kotak{
        width: 200px; 
        height: 200px; 
        background-color: blue; 
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-left: 20%;
    }

    .rightSection {
        width: 40%;
        margin-right: 30px;
    }

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        border-color: #06d6a0;
        border-width: 3px;
    }

    button {
        padding: 10px 20px;
        background-color: #06d6a0;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        width: 100%;
    }

    button:hover {
        background-color: #04976f;
    }

    h1{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #06d6a0;
    }

    h2{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #06d6a0;
    }

    /* Small Screen (Mobile) */
@media (max-width: 767px) {
    .addMovieContainer {
      flex-direction: column; /* Mengubah arah flex menjadi kolom */
      padding: 20px; /* Mengurangi padding untuk perangkat seluler */
    }
  
    .leftSection,
    .rightSection {
      width: 100%; /* Mengubah lebar menjadi 100% agar sesuai dengan lebar layar */
      margin: 0; /* Menghapus margin untuk menghindari overflow */
    }
  
    .kotak {
      margin-left: auto; /* Mengatur margin kiri menjadi otomatis agar berada di tengah */
      margin-right: auto; /* Mengatur margin kanan menjadi otomatis agar berada di tengah */
    }
  }
  