/* Small Screen (Mobile) */
/* Count.module.css */

.container {
  background-color: #06d6a0;
  padding: 1rem;
  color: #fff;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.navbar__brand {
  font-size: 2.4rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 1rem;
  font-weight: bold;
  margin-left: 50px;
}

.navbar__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-right: 50px;
}

.navbar__item {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Dropdown untuk tampilan HP (max-width: 767px) */
@media (max-width: 767px) {
  .navbar__list {
    justify-content: center; /* Mengatur item navbar menjadi terpusat */
    align-items: center; /* Mengatur item navbar menjadi terpusat */
  }

  .navbar__item {
    margin-bottom: 0.5rem; /* Mengurangi margin antara setiap item */
  }
}

/* Medium Screen (Tablet) */
@media (min-width: 768px) {
  .navbar {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }

  .navbar__brand {
      margin-bottom: 0;
  }

  .navbar__list {
      flex-direction: row;
  }

  .navbar__item {
      margin: 0 1rem;
  }
}

/* Large Screen */
@media (min-width: 992px) {
  /* 
   * Nothing to do here.
   * We haven't added styling for larger screens yet.
   */
}
